.layout {
  min-width: 540px;
  min-height: 300px;
  max-width: 940px;
  margin: 0px auto;
  /* background-color: aquamarine; */
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-gap: 0.3rem;
  padding-top: 0.3rem;
  /* padding: 0.2rem; */
  max-height: 90vh;
}
.contacts {
  grid-row: 1/4;
  align-self: stretch;
  /* display: flex; */
  /* background-color: yellowgreen; */
  /* align-items: flex-start; */
}
.sender {
  grid-row: 1;
  /* background: #fae3a5; */
}
.messenger {
  grid-row: 2/4;
  align-self: stretch;
  /* background: #c0ebfc; */
  /* display: flex; */
  /* padding-top: 0.5rem; */
}
.ul {
  display: block;
  padding-inline-start: 3px;
  list-style: none;
  margin: 0px;
  text-align: start;
  margin-block-start: 0em;
}
.listitem:hover {
  background-color: azure;
}
